﻿@model EX4.ViewsModels.ClassViewsModels


@{
    ViewData["Title"] = "Create";
}

<h1>Tạo Mới <i class='fas fa-plus-square' style='font-size:48px;color:#228b22'></i></h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameClass" class="control-label"></label>
                <input asp-for="NameClass" class="form-control" />
                <span asp-validation-for="NameClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyRoom" class="control-label"></label>
                <input asp-for="StudyRoom" class="form-control" />
                <span asp-validation-for="StudyRoom" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Tạo Mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <form asp-action="Index"> <input type="submit" value="Trở Về Danh Sách" style="background-color: #adff2f"/></form>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
